<!DOCTYPE html>
<html>
  <head> 
    <title> Medical Stuff - About %> </title>
  </head>
  <body>
    <h1>About The Application</h1>
    <p>This is the about page for the "Medical Application"</p>
  </body>
</html>