<!DOCTYPE html>
<html>
  <head> 
    <title> Medical Stuff - Contact </title>
  </head>
  <body>
    <h1>Contact</h1>
    <p>This is the contact page for the "Medical Application". Please call us 0387-4665588</p>
  </body>
</html>