<!DOCTYPE html>
<html>
  <head> 
    <title> Medical Stuff - Home </title>
  </head>
  <body>
    <h1>Medical Application</h1>
    <p>This is the home page for the "Medical Application"</p>    
  </body>
</html>